:root{
    --color-fondo:#e2e4e2;
    --color-secciones:#77806352;
    --header-color:  #1a402ac4;
    --marca-color:  #133623;
    --fuente-principal: "Ultra", serif;
    --fuente-parrafo: "Encode Sans Condensed", sans-serif;
    --color-lineas:  #efb2195b;
    --seccion-bordes: 10px;
}


body {
   background-color: var(--color-fondo);
  
}
.header-principal {
background-color: var(--header-color);
padding: 4px;
}

a {
    text-decoration: none;
    color: white;
    font-family: var(--fuente-parrafo);
}

ul {
   list-style: none;
    display: flex;
    justify-content: left;
    gap: 20px;
}

.nombre-marca {
    color: var(--marca-color);
    font-family: var(--fuente-principal);
    font-size: 35px;
   padding-bottom: 10px;
   
}
 p{
    font-family: var(--fuente-parrafo);
    font-size: 15px;
 }

span {
    color: #EFB319;
}


.seccion-inicio {
    background:
        linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.5)),
        url(/assets/fondo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 4px;
   padding: 40px;
   padding-top: 10px;
    margin: 15px 10px;
}

.parrafo-inicio{
    color: rgb(0, 0, 0);
    font-size: 15px;
   padding-bottom: 10px;
}
.parrafo-lugares{
    color: rgb(3, 0, 0);
    display: flex;
    justify-self: right;
}

.boton-lugares {
     display: flex;
    justify-self: right;
}


.boton-reserva,.boton-lugares{
    background-color: #225237d7;
    border-radius: 5px;
    border: 1px solid #EFB319;
    color: white;
    
}

.boton-reserva:hover{
background-color: #17412a;

}

.boton-lugares:hover{
background-color: #17412a;
}

.seccion-nosotros {
    background-color: var(--color-secciones);
    padding: 20px;
     border-radius: var(--seccion-bordes)
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

img{
    height: 200px;
}

.lista-footer{
    display: flex;
    flex-direction: column;
}

.a-footer {
    color: black;
}
